---
---

<!DOCTYPE html>
<html>
<head>
	<title>Jade Intro</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous" />
	<link rel="stylesheet" href="css/main.css">
</head>
<body>
	<div class="container">

		{% include SiteName.html %}
		
		{% include NavBar.html %}
		
		<div class="row" style="padding-top: 10px">
			{% include PrimaryColumn.html %}

			{% include SecondaryColumn.html %}

			{% include TertiaryColumn.html %}
		</div>

		{% include Footer.html %}

	</div>


</body>
</html>