
<div class="article">
	<h4 class="small-dark-title">A la Une</h5>

		<div class="lead">
			Suterw
			<span class="text-muted"> | pelsnf 11/1/11</span>
		</div>

		{% include article.html %}
	</div>
	<hr/>

	<div class="article">
		<div class="row">
			<div class="col-sm-6">
				<div class="small-dark-title">A La Une</div>	
			</div>
			<div class="col-sm-6">
				<a href="">Questo de mous</a>
				<span class="text-muted"> | peile 14/12/14</span>	
			</div> 
		</div>

		{% include article.html %}
	</div>

	<div class="article">
		<strong>Suteres</strong>
		<span class="text-muted"> | publes 12/2/14</span>
		<h2>Lorem Ipsum</h2>
		<p><img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=560%C3%97150&w=560&h=150"></p>
		<p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</p>
	</div>
</div>
