<div class="col-sm-4 secondaryColumn">
	<div class="article bg-grey">
		<h5 class="small-dark-title">Interviews</h5>
		<div class="embed-responsive embed-responsive-16by9">
			<iframe width="560" height="315" src="https://www.youtube.com/embed/wzAWI9h3q18" frameborder="0" allowfullscreen></iframe>

		</div>
		<h2>Well, do ya???</h2>
		<p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat</p>

		<div class="row">
			<div class="col-sm-6">
				leppsdf 12/12/12
			</div>

			<div class="col-sm-6">
				<div class="glyphicon glyphicon-user">
					| name of person
				</div>
			</div>

		</div>
	</div>

	<hr/>

	<div class="article">
		<h4 class="small-dark-title">Interviews</h4>
		{% include MediaObject.html %}
		{% include MediaObject.html %}
		{% include MediaObject.html %}
		{% include MediaObject.html %} 
	</div>

	<hr/>

	<div class="article">
		<h2>Fil D'Info</h2>

		<a href="">Locants</a>
		<strong>Etand, Sletuds</strong>
		<p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
		
		<a href="">Locants</a>
		<strong>Etand, Sletuds</strong>
		<p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
		
	</div>

</div>