<div class="row">
			<div class="col-md-4">
				<h1>Site Name</h1>
			</div>
			<ul class="col-md-8 list-inline text-right" style="margin-top:20px">
				<li>
					<a href="">
						<div class="glyphicon glyphicon-envelope"></div>News Letter
					</a>
				</li> 
				<li>
					<a href="">
						<div class="glyphicon glyphicon-paperclip"></div>Subscribe
					</a>
					<li> | 
					</li>
				</li>
				<li>
					<form class="form-inline">
						<div class="form-group">
							<label class="sr-only">Email Address</label>
							<input class="form-control" type="email" placeholder="john.doe@email.com"></input>
							<button class="btn btn-default" type="submit">Send</button>
						</div>
					</form>
				</li>
			</ul>
		</div>